

/* internal Boxes*/

.intBox1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1581858726788-75bc0f6a952d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-position: center;
    
}

.intBox2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1559508551-44bff1de756b?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-position: center;
   
}

.intBox3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1601752862798-60a18bb25c2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
    background-position: center;
    
}